* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.textFace{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
}
.textFace__face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.textFace__text{
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
}